.cold-hide{
  display: none;
}
.machu-hide{
  display: none;
}
.warm-hide{
  display: none;
}
.img-responsive{
  margin: 0 auto;
}
.container{
  background-color: #F3FFFC;
}
body {
  background-color: #FCFFF8;
}
#destinations{
  border: 1px dotted #337AB7;
  margin: 10px;
  text-align: center;
}
